@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
  height:100%;
  width:100%;
  background: url("../resources/background/SvnuN4M.png") no-repeat;
  background-size: cover;
}

/*
.sideNav{
  position:fixed;
  top:0;
  left:0;
  z-index: 1;
  width:0%;
  height:100%;
  background: black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  overflow-x: hidden;
}

.sideNav a{
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  padding:2%;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: Roboto;
} 

.openNav{
  background-color: #21618C;
  font-family: Roboto;
  font-size: 2em;
}

.openNav a{
  color:white;
}
.openNavButton{
  position: absolute;
  top: 0;
  left: 0;
}

.closingNavBtn{
  position:absolute;
  top: 0;
  right: 0;
}
*/
.quoteBtn{
  position: absolute;
  left: 1%;
  top: 1%;
  color: #795548  ; 
  background: transparent;
  border: none;
  outline: none;
  font-family: Roboto;
  font-weight: bold;
  font-size: 1em;
}

button:hover{
  color: grey;
}

.twitterBtn{
  position: absolute;
  background: url('../resources/social-twitter-icon.png') no-repeat;
  background: transparent;
  outline: none;
  border:none;
  color: #795548 ;
  right:1%;
  top: 1%;
  font-family: Roboto;
  font-weight: bold;
  font-size: 1em;
}

#mainContainer{
  height: 100%;
  width: 100%;
  align-items: center;  
}

#quoteContainer{
  top: 30%;
  margin: 0 auto;
  padding: 1%;
  left: 10%;
  width: 60%;
  height: auto;
  border-radius: 25px;
  
}

p {  
  text-align: right;
  border: none;
  font-family: 'Ubuntu';
  width: 100%;
  position: relative;
  color: 	#F4F6F7; 
}

#quote {

  font-size: 2em;
  font-weight: bold;
}

#author {
  font-size: 1.5em;
  font-style: italic;
}


