@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  height:100%;
  width:100%;
}

.sideNav{
  position:fixed;
  top:0;
  left:0;
  z-index: 1;
  width:0%;
  height:100%;
  background: black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  overflow-x: hidden;
}

.sideNav a{
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  padding:2%;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: Roboto;
}

.closingNavBtn{
  position:absolute;
  top: 0;
  right: 0;
}

.quoteBtnContainer{
  position: relative;
  height:5%;
  width:100%;
}
.quoteBtn{
  position: absolute;
  background-color:black;
  color: white; 
  margin-top: 1%;
  right:2%;
  bottom:4%;
}

.openNav{
  background-color: #908988;
  font-family: Roboto;
  font-size: 2em;
}
.openNavButton{
  position: absolute;
  top: 0;
  left: 0;
}

#mainContainer{
  height: 100%;
  width: 100%;
  background-color:#908988;
  display:flex;
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center;  
}

#quoteContainer{
  display:block;
  margin: 0 auto;
  padding: 1%;
  width: 50%;
  height: auto;
  background: white;
  border-radius: 25px;
  position: relative;
  font-family: Roboto;
}

#section{
  font-family: Pacifico;
  font-style: italic;
}